<h1>Lakes</h1>
<table class="table table-striped">
	<tr>
		<th> Lake name </th>
		<th> Town </th>
    <th> Delete </th>
    <th> Edit </th>
  </tr>
  <% for(var i=0; i<lakes.length; i++) { %>
  <tr>
   <td> 
    <%= lakes[i].name %>
  </td>
  <td> 
    <%= lakes[i].town %>
</td>
<td> 

<form action="/lake/delete" method='post'>
   <input type="submit" class="table_submit" value='delete'>
   <input type='hidden', name='id' value=<%= lakes[i].id %>>
</form>
</td> 
<td> 
<form action="/lake/view/<%= lakes[i].id %>" method='post'>
  <input type="submit" class="table_submit" value='Edit'>
</form>
</td>
</tr>
<% } %>
</table>

<form id="form" class="form" action="/lake/processCreate" method="post">
  <h2>Add lake</h2>
  <div class = "form-group">
    <label for="lake" >Lake name</label>
    <input class="form-control" id="lake" type="text" name="name" placeholder="Lake name">
  </div>
  <div class = "form-group">
    <label for="town" >Town</label>
    <input class="form-control" id="town" type="text" name="town" placeholder="Town" >
  </div>
  <div class = "form-group">
    <input class="btn btn-lg btn-success" type='submit' value="Add">
  </div>
</form>

<script type="text/javascript">
document.forms['form'].elements['name'].focus();
</script>
