
<form action="delete" method = "post">
<input type='hidden' name='_csrf' value='<%= _csrf %>'>
<fieldset>
<legend>Personal information:</legend>
Username:<br>
<input type="text" name="username" value="">
<br>
<input type="submit" value="Submit"></fieldset>
</form>