<h1> Users </h1>
<div class="findUser"> 
    <input type="text" id="username" name="username" placeholder="Type username to search for users:" autocomplete="off" autofocus class="user_input">
    <input type='hidden' id="csrf" name='_csrf' value='<%= _csrf %>'>
</div>

<div id = "foundUsers">
</div>

<script type="text/javascript">
  $("#username").keyup(function() {
    if($("#username").val()=="") return false;
    var url = "/user/findUser"; 

    $.ajax({
           type: "POST",
           url: url,
           data: {username : $("#username").val(), _csrf: $("#csrf").val()}, // serializes the form's elements.
           success: function(result)
           {
               $("#foundUsers").html(result);
           }
         });

    return false; // avoid to execute the actual submit of the form.
  });
</script>
