<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<h1>Login </h1>

<%- req.flash('err') %>

<form id="form" class="form" action="/user/login" method="post">
	<div class = "form_row">
		<label class = "form_label" >Username</label>
		<input class="form_input" type="text" name="username" placeholder="Username">
	</div>
	<div class = "form_row">
		<label class = "form_label" >Password</label>
		<input class="form_input" type="password" name="password" placeholder="Password" >
	</div>
	<div class = "form_row">
		<input class="form_submit" type='submit' value="Log in">
	</div>
</form>

<script type="text/javascript">
document.forms['form'].elements['username'].focus();
</script>


