<h1>Registeration Form</h1>

<form id="form" class="form" action="/user/create" method="post">
	<input type='hidden' name='_csrf' value='<%= _csrf %>'>
	<div class = "form_row">
		<label class = "form_label" >Username</label>
		<input class="form_input" type="text" name="username" placeholder="Username">
	</div>

	<div class = "form_row">
		<label class = "form_label" >Password</label>
		<input class="form_input" type="password" name="password" placeholder="Password" >
	</div>

	<div class = "form_row">
		<label class = "form_label" >Email</label>
		<input class="form_input" type="text" name="email" placeholder="Email" >
	</div>

	<div class = "form_row">
		<label class = "form_label" >Motto</label>
		<input class="form_input" type="text" name="motto" placeholder="Motto" >
	</div>

	<div class = "form_row">
		<label class = "form_label" >Avatar Image Url</label>
		<input class="form_input" type="text" name="avatarImageUrl" placeholder="Avatar Image Url" >
	</div>

	<div class = "form_row">
		<input class="form_submit" type='submit' value="Register">
	</div>
</form>

<script type="text/javascript">
	document.forms['form'].elements['weight'].focus();
</script>