<h1>success</h1>
<div id="userInfo">
	<h1> <%= user.username %> </h1>
	<form action="update" method = 'POST'>
		email <br>
		<input type="text" name="firstname" value="<%= user.email %>"><br>
		password <br>
		<input type="text" name="firstname" value="<%= user.password %>"><br>
		motto <br>
		<input type="text" name="firstname" value="<%= user.motto %>"><br>
		<input type="submit" value="Save">
	</form>
</div>