
<h1>My profile</h1>

<form id="form" class="form" action="/user/update" method="post">
	
	<input type="hidden" name="id" value="<%= user.id %>">

	<div class = "form_row">
		<label class = "form_label" >Email</label>
		<input class="form_input" type="text" name="email" placeholder="Email" value="<%= user.email %>">
	</div>

	<div class = "form_row">
		<label class = "form_label" >Motto</label>
		<input class="form_input" type="text" name="motto" placeholder="Motto" value="<%= user.motto %>">
	</div>

	<div class = "form_row">
		<label class = "form_label" >Avatar Image Url</label>
		<input class="form_input" type="text" name="avatarImageUrl" placeholder="Avatar Image Url" value="<%= user.avatarImageUrl %>">
	</div>

	<div class = "form_row">
		<input class="form_submit" type='submit' value="Save">
	</div>
</form>

<script type="text/javascript">
	document.forms['form'].elements['weight'].focus();
</script>