<form id="form" class="form" action="/lure/processCreate" method="post">
	<div class = "form_group">
		<label for="brand" >Brand</label>
		<input class="form-control" id="brand" type="text" name="brand" placeholder="Brand" autofocus>
	</div>
	<div class = "form_group">
		<label for="model" >Model</label>
		<input class="form-control" id="model" type="text" name="model" placeholder="Model" >
	</div>
	<div class = "form_group">
		<label for="url" >Url</label>
		<input class="form-control" id="url" type="text" name="url" placeholder="Url" >
	</div>
	<div class = "form_group">
		<input class="btn btn-lg btn-success" type='submit' value="Add">
	</div>
</form>


