<form role="form" action="/lure/processCreate" method="post">
  Model <br>
  <input type="text" name="model" placeholder="Model" <> <br>
  Brand <br>
  <input type="text" name="brand" placeholder="Brand" > <br>
  <input type='submit' value="Submit">
</form>