body {
}
#start{
    text-align:center; 
    margin-bottom: 20px;
}
h1 {
  font: 400 95px/1.1 'Rancho', Georgia, serif;
  color: #2f99ba;
  text-align: center;
}

h2 {
    font: 400 25px/1.6 'Gudea', Verdana, Helvetica, sans-serif;
    text-align: center;
}

h3 {
    font: 400 20px/1.6 'Gudea', Verdana, Helvetica, sans-serif;
    text-align: center;
}
p {
    font: 400 17px/1.6 'Gudea', Verdana, Helvetica, sans-serif;
    line-height: 150%;
    font-size: 16px;
}

#content {
    max-width: 700px;
    margin: auto;
}
#helpImage, #helpLink{
    text-align:center;
    margin-top: 20px;
}
#footer {
    max-width: 700px;
    margin: auto;
    text-align: right;
    color: #2f99ba;
}

#type-speed-form {
    margin: auto;
    width: 100%;
}

textarea {
   font-family: inherit;
   font-size: inherit;
}
#areaOfExercises{
    color: #2f99ba;
    font-size: 200%;
}
