<form role="form" action="/catch/processCreate" method="post">
  Weight <br>
  <input type="text" name="weight" placeholder="Weight" <> <br>
  Date <br>
  <input type="text" name="date" placeholder="Date" > <br>
  <input type='submit' value="Submit">
</form>